### Pyspark GroupBy and Aggregate Functions

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

df_pyspark = spark.read.csv('spark_tutorial_5.csv', header=True, inferSchema=True)
df_pyspark.show()
print(df_pyspark.printSchema())

+-------+------------+--------+
|   Name|  Department|  Salary|
+-------+------------+--------+
|  Harry|Data Science| 25000.0|
|  Jerry|Bank Finance| 40000.0|
|  param|         IOT|200000.0|
|  Laksh|    Big Data| 30000.0|
|  Babji|    Big Data| 50000.0|
|   Anni|         IOT| 55000.0|
| Vishwa|Data Science|105000.0|
|Perumal|Data Science|114000.0|
| Balaji|         IOT|120300.0|
|  Harry|         IOT|  3000.0|
|  Harry|    Big Data|  3400.0|
|  Jerry|         IOT| 10000.0|
+-------+------------+--------+

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: double (nullable = true)

None

* how to convert the type of the column?

In [15]:
## Group BY and aggregator

###Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

#Groupby departments which gives maximum salary
df_pyspark.groupBy('Department').sum().show()
#Groupby departments which gives maximum salary
df_pyspark.groupBy('Department').mean().show()
#Groupby departments which gives maximum salary
df_pyspark.groupBy('Department').max().show()

#count the number of employees working under each department
df_pyspark.groupBy('Department').count().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
| Vishwa|   105000.0|
|  Jerry|    50000.0|
|   Anni|    55000.0|
| Balaji|   120300.0|
|  Harry|    31400.0|
|  Laksh|    30000.0|
|  param|   200000.0|
|  Babji|    50000.0|
|Perumal|   114000.0|
+-------+-----------+

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|   388300.0|
|    Big Data|    83400.0|
|Data Science|   244000.0|
|Bank Finance|    40000.0|
+------------+-----------+

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         IOT|          77660.0|
|    Big Data|          27800.0|
|Data Science|81333.33333333333|
|Bank Finance|          40000.0|
+------------+-----------------+

+------------+-----------+
|  Department|max(Salary)|
+------------+-----------+
|         IOT|   200000.0|
|    Big Data|    50000.0|
|Data Science|   114000.0|
|Bank Finance|    40000.0|
+------------+-----------+

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    5|
|    Big Data|    3|
|Data Science|    3|
|Bank Finance|    1|
+------------+-----+