### Pyspark Dataframes
* Filter Operation
* &,|,==
* ~

In [1]:
# import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [2]:
df_pyspark = spark.read.csv('spark_tutorial.csv', header=True, inferSchema=True)
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Harry| 27|         2| 25000|
| Jerry| 27|         4| 40000|
| param| 65|        40|200000|
| Laksh| 54|        30| 30000|
| Babji| 33|        10| 50000|
|  Anni| 32|        10| 55000|
|vishwa|  1|         0|105000|
+------+---+----------+------+


## Filter Operations

In [5]:
### Salary of the people less than or equal to 30000

df_pyspark.filter("Salary<=30000").show()

# picking two columns while filtering

df_pyspark.filter("Salary<=30000").select(['Name','Age']).show()

# lesser than, greater than will work. >, >=, <, <=, ==, !=

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Harry| 27|         2| 25000|
|Laksh| 54|        30| 30000|
+-----+---+----------+------+

+-----+---+
| Name|Age|
+-----+---+
|Harry| 27|
|Laksh| 54|
+-----+---+

In [10]:
# another way of filtering out.
df_pyspark.filter(df_pyspark['Salary']<=30000).show()

#nested condition:
df_pyspark.filter((df_pyspark['Salary']<=30000) & (df_pyspark['Salary']>=20000)).show() #AND
df_pyspark.filter((df_pyspark['Salary']<=30000) | (df_pyspark['Salary']>=20000)).show() #OR

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Harry| 27|         2| 25000|
|Laksh| 54|        30| 30000|
+-----+---+----------+------+

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Harry| 27|         2| 25000|
|Laksh| 54|        30| 30000|
+-----+---+----------+------+

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Harry| 27|         2| 25000|
| Jerry| 27|         4| 40000|
| param| 65|        40|200000|
| Laksh| 54|        30| 30000|
| Babji| 33|        10| 50000|
|  Anni| 32|        10| 55000|
|vishwa|  1|         0|105000|
+------+---+----------+------+

In [9]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Harry| 27|         2| 25000|
| Jerry| 27|         4| 40000|
| param| 65|        40|200000|
| Laksh| 54|        30| 30000|
| Babji| 33|        10| 50000|
|  Anni| 32|        10| 55000|
|vishwa|  1|         0|105000|
+------+---+----------+------+

In [12]:
# Not equal to. ~ inverse operation
df_pyspark.filter(~(df_pyspark['Salary']<=25000)).show()  # anything greater than 25000 will be displayed.

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Jerry| 27|         4| 40000|
| param| 65|        40|200000|
| Laksh| 54|        30| 30000|
| Babji| 33|        10| 50000|
|  Anni| 32|        10| 55000|
|vishwa|  1|         0|105000|
+------+---+----------+------+