# Intro to Joupyter Notebook
### simple sum of number

In [31]:
%config Completer.use_jedi = False

In [32]:
2+2

4

In [33]:
2+3+3

8

In [34]:
1+1
2+2
3+3

6

In [35]:
print(1+1)
print(2+2)
print(3+3)

2
4
6

In [36]:
import pandas as pd
import numpy as np

In [37]:
pd.__version__

'1.5.3'

In [41]:
x_1 = 1+1

In [42]:
x_1

2

In [43]:
print(x_1)

2

In [ ]:
#this is a comment

In [44]:
#Import Pandas library 
import pandas as pd

In [45]:
#check for pandas version 
pd.__version__

'1.5.3'

In [47]:

2+2

4

In [53]:
type(10.1 == 12)

bool

In [49]:
type("Hello, world!")

str

In [54]:
a = 10
b = 3.0
c = a / b
print(c)

3.3333333333333335

In [55]:
type(c)

float

In [57]:
type(a)

int

In [59]:
type('123')

str

In [60]:
type(123)

int

In [61]:
type(123.0)

float

In [62]:
result = 2+2 == 5
print(result)

False

In [63]:
7 / 2

3.5

In [64]:
2 + 2 == 4

True

In [67]:
2 + 2 != 4

False

In [68]:
2 + 2 == 5

False

In [69]:
2 + 2 != 5

True

In [70]:
2 < 3

True

In [71]:
3 < 4

True

In [74]:
  2 < 3 and 3 < 2
# True and False

False

In [75]:
  2 < 3 or 3 < 2
# True and False

True

In [78]:
not (5 < 3)

True

In [79]:
5 + 4 * 3 / 6 - 2 ** 2

3.0

In [89]:
X= 10

In [91]:
y = X +2

In [92]:
y

12

In [105]:
age = 10 
age_5_added =  age + 5 # 10 +5 = 15 
age__1_added = age +10  #15 +10 = 25

age

10

In [106]:
age_5_added

15

In [107]:
age__1_added

20

In [109]:
print("Hello, world!!")

Hello, world!!

In [110]:
type("Hello")

str

In [113]:
len("Hello")

5

In [117]:
x = 123 
type(x)

int

In [118]:
y = str(x)

In [119]:
type(y)

str

In [120]:
y

'123'

In [130]:
z = float(y)

In [131]:
type(z)

float

In [132]:
z

123.0

In [145]:
def inches_to_cm(inches=0):
    """
    Converts inches to centimeters.

    Args:
        inches (float): A length in inches.

    Returns:
        float: The length in centimeters.
    """
    cm = inches * 2.54
    return cm

In [146]:
result = inches_to_cm(0)
result

0.0

In [148]:
result = inches_to_cm()
result

0.0

In [149]:
def calculate_rectangle_area(width=1, height=1):
    """
    Calculates the area of a rectangle.

    Args:
        width (float): The width of the rectangle. Default is 1.
        height (float): The height of the rectangle. Default is 1.

    Returns:
        float: The area of the rectangle.
    """
    area = width * height
    return area

In [150]:
calculate_rectangle_area(10,10)

100

In [158]:
calculate_rectangle_area(4)

4

In [162]:
my_string = "hello world"
new_string = my_string.replace("l", "x")
new_string

'hexxo worxd'

In [165]:
my_string = "  hello world   " 
new_string = my_string.strip()
my_string

'  hello world   '

In [166]:
new_string

'hello world'

In [179]:
my_string = "John Davis" 
first_lastname = my_string.split(" ")
first_lastname

['John', 'Davis']

In [178]:
" ".join(first_lastname)

'John Davis'

In [181]:
my_string = "John-Davis" 
first_lastname = my_string.split("-")
first_lastname

['John', 'Davis']

In [182]:
my_string = "hello"
my_string

'hello'

In [183]:
my_string = my_string.upper()
my_string

'HELLO'

In [187]:
"hello".startswith("H")

False

In [188]:
# Using in with a string
my_string = "hello"
print("h" in my_string)   # Output: True
print("z" in my_string)   # Output: False

# Using in with a list
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)       # Output: True
print(6 in my_list)       # Output: False

# Using in with a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print("age" in my_dict)   # Output: True
print("gender" in my_dict) # Output: False

True
False
True
False
True
False

In [207]:
# Inex value starts with 0 
#Index values for my_numbers = [0,1,2,3,4]
my_numbers = [1, 2, 3, 4, 5]
print(my_numbers[0])   # Output: 1
print(my_numbers[2])   # Output: 3

my_strings = ["apple", "banana", "cherry", "date"]
print(my_strings[1])   # Output: "banana"

my_booleans = [True, False, True]
print(my_booleans[2])  # Output: True

1
3
banana
True

In [209]:
my_numbers.append(6)
my_numbers

[1, 2, 3, 4, 5, 6, 6]

In [210]:
my_numbers.extend([6, 7, 8])
my_numbers

[1, 2, 3, 4, 5, 6, 6, 6, 7, 8]

In [211]:
my_numbers.insert(1, "apple")
my_numbers

[1, 'apple', 2, 3, 4, 5, 6, 6, 6, 7, 8]

In [212]:
my_numbers.remove("apple")
my_numbers

[1, 2, 3, 4, 5, 6, 6, 6, 7, 8]

In [213]:
my_string = "Hello, World!"

print("Hello" in my_string)    # Output: True
print("hello" in my_string)    # Output: False
print("World" in my_string)    # Output: True
print("world" in my_string)    # Output: False

True
False
True
False

In [218]:
my_string = "Hello, World!"

print(my_string[0])    # Output: "H"
print(my_string[1])    # Output: "e"
print(my_string[7])    # Output: "W"
print(my_string[12])   # Output: "d"
print(my_string[13])

H
e
W
!

IndexError: string index out of range

In [220]:
my_string = "Hello, World!"

print(my_string[0:5])   # Output: "Hello" #first value is inclusive, last value is not (0:4 inclusive)
print(my_string[7:12])  # Output: "World"
print(my_string[8:11])

Hello
World
orl

In [221]:
my_string = "Hello, World!"
my_list = [1, 2, 3, 4, 5]

print(my_string[:])     # Output: "Hello, World!"
print(my_string[1:])    # Output: "ello, World!"
print(my_string[:3])    # Output: "Hel"
print(my_list[:])       # Output: [1, 2, 3, 4, 5]
print(my_list[2:])      # Output: [3, 4, 5]
print(my_list[:3])      # Output: [1, 2, 3]

Hello, World!
ello, World!
Hel
[1, 2, 3, 4, 5]
[3, 4, 5]
[1, 2, 3]

In [223]:
my_list = [1, 2, 3, 4, 5]
slice_result = my_list[0:1000000]

print(slice_result)    # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [229]:
menu = {
    "pizza": 10.99,
    "pasta": 8.99,
    "lasagna": 12.99,
    "caprese salad": 6.99,
    "tiramisu": 4.99,
    "Pizaa chees": 100.0
}
menu

{'pizza': 10.99,
 'pasta': 8.99,
 'lasagna': 12.99,
 'caprese salad': 6.99,
 'tiramisu': 4.99,
 'Pizaa chees': 100.0}

In [230]:
print(menu["pizza"])    # Output: 10.99
print(menu["tiramisu"]) # Output: 4.99

10.99
4.99

In [231]:
len(menu)

6

In [233]:
menu = {
    "pizza": 10.99,
    "pasta": 8.99,
    "lasagna": 12.99,
    "caprese salad": 6.99,
    "tiramisu": 4.99
}

print("pizza" in menu)        # Output: True
print("spaghetti" in menu)    # Output: False
print("salad" not in menu)    # Output: True
print("lasagna" not in menu)  # Output: False

True
False
True
False

In [236]:
menu["pasta"] = 9.99    # Update the price of pasta to 9.99

menu

{'pizza': 10.99,
 'pasta': 9.99,
 'lasagna': 12.99,
 'caprese salad': 6.99,
 'tiramisu': 4.99}

In [237]:
menu["Alfredo Pasta"] = 19.99    # Add a new item to the menu dictionary
menu

{'pizza': 10.99,
 'pasta': 9.99,
 'lasagna': 12.99,
 'caprese salad': 6.99,
 'tiramisu': 4.99,
 'Alfredo Pasta': 19.99}

In [240]:
if 19.99 in menu.values():
    print("There is a dish priced at $19.99 on the menu.")
else:
    print("There is no dish priced at $19.99 on the menu.")

There is a dish priced at $19.99 on the menu.

In [243]:
x = 4

if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [251]:
menu = {
    "pizza": 10.99,
    "pasta": 8.99,
    "lasagna": 12.99,
    "caprese salad": 8.99,
    "tiramisu": 4.99
}

for item, price in menu.items():
    if price == 8.99:
        print(f"The price of {item} is $8.99.")
        break

The price of pasta is $8.99.

In [252]:
for item, price in menu.items():
    if price == 8.99:
        print(f"The price of {item} is $8.99.")

The price of pasta is $8.99.
The price of caprese salad is $8.99.

In [253]:
menu = {
    "pizza": 10.99,
    "pasta": 8.99,
    "lasagna": 12.99,
    "caprese salad": 6.99,
    "tiramisu": 4.99,
    "spaghetti": 8.99
}

for item, price in menu.items():
    if price == 8.99:
        print(f"The price of {item} is $8.99.")

The price of pasta is $8.99.
The price of spaghetti is $8.99.