In [76]:
import pandas as pd

# Read the CSV file and set 'rank' as index column
df = pd.read_csv('Fortune_1000.csv', index_col='rank')

# Print the first 5 rows of the DataFrame
df.head()

,company,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
rank,,,,,,,,,,,,,,,,,
1,Walmart,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
2,Amazon,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
3,Apple,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
4,CVS Health,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
5,UnitedHealth Group,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468

In [77]:
sector_groups = df.groupby('sector')
sector_groups

In [80]:
sector_groups.size()

sector
Aerospace & Defense               17
Apparel                           16
Business Services                 52
Chemicals                         29
Energy                           100
Engineering & Construction        32
Financials                       166
Food & Drug Stores                 9
Food, Beverages & Tobacco         34
Health Care                       77
Hotels, Restaurants & Leisure     28
Household Products                23
Industrials                       50
Materials                         46
Media                             28
Motor Vehicles & Parts            20
Retailing                         77
Technology                       121
Telecommunications                 9
Transportation                    35
Wholesalers                       31
dtype: int64

In [83]:
tech_group = sector_groups.get_group('Technology')
tech_group

,company,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
rank,,,,,,,,,,,,,,,,,
3,Apple,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
8,Alphabet,1.0,257637.0,76033.0,156500.0,Technology,Mountain View,CA,no,no,no,yes,9.0,Sundar Pichai,https://www.abc.xyz,GOOGL,1309359
14,Microsoft,1.0,168088.0,61271.0,181000.0,Technology,Redmond,WA,no,no,no,yes,15.0,Satya Nadella,www.microsoft.com,MSFT,1941033
27,Meta Platforms,7.0,117929.0,39370.0,71970.0,Technology,Menlo Park,CA,no,yes,no,yes,34.0,Mark Zuckerberg,https://investor.fb.com,META,475718
31,Dell Technologies,-3.0,106995.0,5563.0,133000.0,Technology,Round Rock,TX,no,yes,no,yes,28.0,Michael S. Dell,www.delltechnologies.com,DELL,32568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,Benchmark Electronics,0.0,2255.3,35.8,10900.0,Technology,Tempe,AZ,no,no,no,yes,,Jeffrey W. Benck,https://www.bench.com,BHE,881.4
970,TTM Technologies,0.0,2248.7,54.4,16100.0,Technology,Santa Ana,CA,no,no,no,yes,,Thomas T. Edman,https://www.ttm.com,TTMI,1506.2
984,Pure Storage,0.0,2180.8,-143.3,4200.0,Technology,Mountain View,CA,no,no,no,no,,Charles H. Giancarlo,https://www.purestorage.com,PSTG,10238
988,Dropbox,0.0,2157.9,335.8,2667.0,Technology,San Francisco,CA,no,yes,no,yes,,Andrew W. Houston,https://www.dropbox.com,DBX,8873.5
1000,DocuSign,0.0,2107.2,-70.0,7461.0,Technology,San Francisco,CA,no,no,no,no,,Allan C. Thygesen,https://www.docusign.com,DOCU,21302.8

In [84]:
# Get the highest revenue company in each sector
highest_revenue = sector_groups.apply(lambda x: x.loc[x['revenue'].idxmax()])

# Print the result
highest_revenue

,company,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
sector,,,,,,,,,,,,,,,,,
Aerospace & Defense,Lockheed Martin,-6.0,67044.0,6315.0,114000.0,Aerospace & Defense,Bethesda,MD,no,no,no,yes,49.0,James D. Taiclet Jr.,www.lockheedmartin.com,LMT,103510
Apparel,Nike,2.0,44538.0,5727.0,73300.0,Apparel,Beaverton,OR,no,no,no,yes,85.0,John J. Donahoe II,www.nike.com,NKE,171840
Business Services,PayPal,-9.0,25371.0,4169.0,30900.0,Business Services,San Jose,CA,no,no,no,yes,134.0,Daniel Schulman,https://www.paypal.com,PYPL,99538
Chemicals,Dow,18.0,54968.0,6311.0,35700.0,Chemicals,Midland,MI,no,no,no,yes,82.0,James R. Fitterling,www.dow.com,DOW,38189
Energy,Exxon Mobil,4.0,285640.0,23040.0,63000.0,Energy,Irving,TX,no,no,no,yes,10.0,Darren W. Woods,www.exxonmobil.com,XOM,371841
Engineering & Construction,D.R. Horton,24.0,27774.2,4175.8,11788.0,Engineering & Construction,Arlington,TX,no,no,no,yes,148.0,David Auld,https://www.drhorton.com,DHI,24313
Financials,Berkshire Hathaway,-1.0,276094.0,89795.0,372000.0,Financials,Omaha,NE,no,no,no,yes,6.0,Warren E. Buffett,www.berkshirehathaway.com,BRKA,625468
Food & Drug Stores,Walgreens Boots Alliance,-2.0,148579.0,2542.0,258500.0,Food & Drug Stores,Deerfield,IL,no,no,yes,yes,16.0,Roz Brewer,www.walgreensbootsalliance.com,WBA,33360
"Food, Beverages & Tobacco",Archer Daniels Midland,13.0,85249.0,2709.0,39979.0,"Food, Beverages & Tobacco",Chicago,IL,no,no,no,yes,51.0,Juan R. Luciano,www.adm.com,ADM,41545
Health Care,CVS Health,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
"Hotels, Restaurants & Leisure",Starbucks,5.0,29060.6,4199.3,383000.0,"Hotels, Restaurants & Leisure",Seattle,WA,no,yes,no,yes,125.0,Howard D. Schultz,www.starbucks.com,SBUX,94677
Household Products,Procter & Gamble,-4.0,76118.0,14306.0,101000.0,Household Products,Cincinnati,OH,no,no,no,yes,43.0,Jon R. Moeller,www.pg.com,PG,345595
Industrials,General Electric,-10.0,74196.0,-6520.0,168000.0,Industrials,Boston,MA,no,no,no,no,38.0,H. Lawrence Culp Jr.,www.ge.com,GE,73458
Materials,Nucor,51.0,36483.9,6827.5,28800.0,Materials,Charlotte,NC,no,no,no,yes,149.0,Leon J. Topalian,www.nucor.com,NUE,31183
Media,Walt Disney,-3.0,67418.0,1995.0,171000.0,Media,Burbank,CA,no,no,no,yes,50.0,Robert A. Chapek,www.thewaltdisneycompany.com,DIS,181438
Motor Vehicles & Parts,Ford Motor,-1.0,136341.0,17937.0,183000.0,Motor Vehicles & Parts,Dearborn,MI,no,no,no,yes,21.0,James D. Farley Jr.,www.ford.com,F,50609
Retailing,Walmart,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
Technology,Apple,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
Telecommunications,AT&T,-2.0,168864.0,20081.0,202600.0,Telecommunications,Dallas,TX,no,no,no,yes,11.0,John T. Stankey,www.att.com,T,148907
Transportation,United Parcel Service,1.0,97287.0,12890.0,400945.0,Transportation,Atlanta,GA,no,no,yes,yes,35.0,Carol B. Tomé,www.ups.com,UPS,162355
Wholesalers,Sysco,-10.0,51297.8,524.2,57710.0,Wholesalers,Houston,TX,no,no,no,yes,60.0,Kevin P. Hourican,www.sysco.com,SYY,44508

In [86]:
highest_revenue_profit = sector_groups.apply(lambda x: x.loc[x['revenue'].idxmax()][['company', 'revenue', 'profit']])
highest_revenue_profit

                                                company   revenue   profit
sector
Aerospace & Defense                     Lockheed Martin   67044.0   6315.0
Apparel                                            Nike   44538.0   5727.0
Business Services                                PayPal   25371.0   4169.0
Chemicals                                           Dow   54968.0   6311.0
Energy                                      Exxon Mobil  285640.0  23040.0
Engineering & Construction                  D.R. Horton   27774.2   4175.8
Financials                           Berkshire Hathaway  276094.0  89795.0
Food & Drug Stores             Walgreens Boots Alliance  148579.0   2542.0
Food, Beverages & Tobacco        Archer Daniels Midland   85249.0   2709.0
Health Care                                  CVS Health  292111.0   7910.0
Hotels, Restaurants & Leisure                 Starbucks   29060.6   4199.3
Household Products                     Procter & Gamble   76118.0  14306.0
Industrials                            General Electric   74196.0  -6520.0
Materials                                         Nucor   36483.9   6827.5
Media                                       Walt Disney   67418.0   1995.0
Motor Vehicles & Parts                       Ford Motor  136341.0  17937.0
Retailing                                       Walmart  572754.0  13673.0
Technology                                        Apple  365817.0  94680.0
Telecommunications                                 AT&T  168864.0  20081.0
Transportation                    United Parcel Service   97287.0  12890.0
Wholesalers                                       Sysco   51297.8    524.2

In [87]:
highest_profit = sector_groups.apply(lambda x: x.loc[x['profit'].idxmax()][['company', 'revenue', 'profit']])
highest_profit

                                              company   revenue   profit
sector
Aerospace & Defense                  Northrop Grumman   35667.0   7005.0
Apparel                                          Nike   44538.0   5727.0
Business Services                                Visa   24105.0  12311.0
Chemicals                                      DuPont   17160.0   6467.0
Energy                                    Exxon Mobil  285640.0  23040.0
Engineering & Construction                     Lennar   27130.7   4430.1
Financials                         Berkshire Hathaway  276094.0  89795.0
Food & Drug Stores               Publix Super Markets   48393.9   4412.2
Food, Beverages & Tobacco                   Coca-Cola   38655.0   9771.0
Health Care                                    Pfizer   81288.0  21979.0
Hotels, Restaurants & Leisure              McDonald's   23222.9   7545.2
Household Products                   Procter & Gamble   76118.0  14306.0
Industrials                               Caterpillar   50971.0   6489.0
Materials                                       Nucor   36483.9   6827.5
Media                                         Netflix   29697.8   5116.2
Motor Vehicles & Parts                     Ford Motor  136341.0  17937.0
Retailing                                      Amazon  469822.0  33364.0
Technology                                      Apple  365817.0  94680.0
Telecommunications             Verizon Communications  133613.0  22065.0
Transportation                  United Parcel Service   97287.0  12890.0
Wholesalers                         Arrow Electronics   34477.0   1108.2

In [89]:
sector_state_groups = df.groupby(['sector', 'state'])
sector_state_groups

In [90]:
# Get the highest profit company in each sector-state group
highest_profit = sector_state_groups.apply(lambda x: x.loc[x['profit'].idxmax()][['company', 'revenue', 'profit']])

# Print the result
highest_profit

                                               company  revenue  profit
sector              state
Aerospace & Defense CA           Teledyne Technologies   4614.3   445.3
                    CO                        Woodward   2245.8   208.6
                    FL           L3Harris Technologies  17814.0  1846.0
                    IL                          Boeing  62286.0 -4202.0
                    KS     Spirit AeroSystems Holdings   3953.0  -540.8
...                                                ...      ...     ...
Wholesalers         PA             WESCO International  18217.5   465.4
                    RI            United Natural Foods  26992.0   149.0
                    SC                      ScanSource   3364.2    10.8
                    TX                           Sysco  51297.8   524.2
                    VA           Beacon Roofing Supply   6820.4   243.0

[360 rows x 3 columns]

In [92]:
# Get the sum of revenue for each sector-state group
revenue_sum = sector_state_groups.agg({'revenue': 'sum'})

# Print the result
revenue_sum

                           revenue
sector              state
Aerospace & Defense CA      6802.3
                    CO      2245.8
                    FL     17814.0
                    IL     62286.0
                    KS      3953.0
...                            ...
Wholesalers         PA     18217.5
                    RI     26992.0
                    SC      3364.2
                    TX     51297.8
                    VA     37219.3

[360 rows x 1 columns]

In [93]:
# Get the sum of revenue for each sector-state group
revenue_count = sector_state_groups.agg({'revenue': 'count'})

# Print the result
revenue_count

                           revenue
sector              state
Aerospace & Defense CA           2
                    CO           1
                    FL           1
                    IL           1
                    KS           1
...                            ...
Wholesalers         PA           1
                    RI           1
                    SC           1
                    TX           1
                    VA           2

[360 rows x 1 columns]