In [3]:
import pandas as pd

# create a list of ice cream flavors
ice_cream_flavors = ['Vanilla', 'Chocolate', 'Strawberry', 'Mint Chocolate Chip', 'Butter Pecan']

ice_cream_flavors

['Vanilla', 'Chocolate', 'Strawberry', 'Mint Chocolate Chip', 'Butter Pecan']

In [4]:
# convert the list to a Pandas Series
ice_cream_series = pd.Series(ice_cream_flavors)

# print the series
print(ice_cream_series)

0                Vanilla
1              Chocolate
2             Strawberry
3    Mint Chocolate Chip
4           Butter Pecan
dtype: object

In [5]:
import pandas as pd

# create a list of numbers
numbers = [5, 10, 15, 20, 25, 30]

# convert the list to a Pandas Series
numbers_series = pd.Series(numbers)

# print the series
print(numbers_series)

0     5
1    10
2    15
3    20
4    25
5    30
dtype: int64

In [27]:
import pandas as pd

# create a dictionary of Italian menu items and prices
menu = {'Spaghetti': 12.99, 'Margherita Pizza': 14.99, 'Lasagna': 16.99, 'Tiramisu': 8.99, 'Bruschetta': 6.99}

# convert the dictionary to a Pandas Series
menu_series = pd.Series(menu)

# print the series
print(menu_series)

Spaghetti           12.99
Margherita Pizza    14.99
Lasagna             16.99
Tiramisu             8.99
Bruschetta           6.99
dtype: float64

In [12]:
menu_series.value_counts()

12.99    1
14.99    1
16.99    1
8.99     1
6.99     1
dtype: int64

In [13]:
import pandas as pd

# create a dictionary of Italian menu items and prices
menu = {'Spaghetti': 12.99, 'Margherita Pizza': 14.99, 'Lasagna': 12.99, 'Tiramisu': 8.99, 'Bruschetta': 6.99}

# convert the dictionary to a Pandas Series
menu_series_new = pd.Series(menu)

# print the series
print(menu_series_new.value_counts())

12.99    2
14.99    1
8.99     1
6.99     1
dtype: int64

In [14]:
menu_series_new.unique()

array([12.99, 14.99,  8.99,  6.99])

In [15]:
menu_series_new.nunique()

4

In [16]:
menu_series_new.sort_values()

Bruschetta           6.99
Tiramisu             8.99
Spaghetti           12.99
Lasagna             12.99
Margherita Pizza    14.99
dtype: float64

In [18]:
menu_series_new.idxmax()

'Margherita Pizza'

In [25]:
menu_series_new.empty

False

In [29]:
import pandas as pd

prices = [2.99, 3.99, 1.99]
items = ['apple', 'banana', 'orange']

prices_series = pd.Series(data=prices, index=items, name='prices')
prices_series

apple     2.99
banana    3.99
orange    1.99
Name: prices, dtype: float64

In [36]:
import pandas as pd
import numpy as np

# create a Series of integers with a specified data type
numbers = [1, 2, 3, 4, 5]
numbers_series = pd.Series(numbers, dtype=np.int16)
numbers_series

0    1
1    2
2    3
3    4
4    5
dtype: int16

In [33]:
# create a Series of strings with a specified data type
fruits = ['apple', 'banana', 'orange']
fruits_series = pd.Series(fruits)
fruits_series

0     apple
1    banana
2    orange
dtype: object

### Instrcutor Data frame

    title	name

In [76]:


# Read the CSV file into a DataFrame
df = pd.read_csv('instructors.csv', header=0, index_col='title', usecols=['title', 'job_title'], squeeze=True)

df.tail(10)

/var/folders/8m/zcj0ybf12qn84mg0nnpb_psw0000gn/T/ipykernel_87089/3024667364.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  df = pd.read_csv('instructors.csv', header=0, index_col='title', usecols=['title', 'job_title'], squeeze=True)

title
夢YASU 音楽大学校                                                                      ピアノ・ギター
Оксана Ференчук                        Музыкант, педагог и основатель онлайн-школы го...
Enrique Pastor -Guitarra con garra-                Titulado superior de guitarra clásica
Ali Atkaya                                                            Ukulele Repertuvar
Avishai mor                                                   מוסיקאי יוצר ומורה למוסיקה
Marc-Nesly Delmot                                                      singer songwriter
Gabriel Budemberg                                          Instrutor de Produção Musical
Rafael Dos Santos Buffon                                                        Pedagogo
Adrin Wendt                                   Pianist/ Online- und Offline-Klavierlehrer
Viktor Kaminskiy                       Music Composition, Music Producing, Orchestration
Name: job_title, dtype: object

In [77]:
len(df)

32233

In [78]:
df.head(5)

title
Jose Portilla                        Head of Data Science at Pierian Training
Dr. Angela Yu                                   Developer and Lead Instructor
Colt Steele                                 Developer and Bootcamp Instructor
Maximilian Schwarzmüller    AWS certified, Professional Web Developer and ...
Tim Buchalka                Java Python Android and C# Expert Developer - ...
Name: job_title, dtype: object

In [79]:
df.tail(5)

title
Marc-Nesly Delmot                                           singer songwriter
Gabriel Budemberg                               Instrutor de Produção Musical
Rafael Dos Santos Buffon                                             Pedagogo
Adrin Wendt                        Pianist/ Online- und Offline-Klavierlehrer
Viktor Kaminskiy            Music Composition, Music Producing, Orchestration
Name: job_title, dtype: object

In [80]:
df.value_counts()

Instructor                                           265
Software Engineer                                    144
Professor                                             76
Engineer                                              75
Software Developer                                    57
                                                    ...
Cursos Criptomoedas                                    1
Empresária Contábil                                    1
Professioneel belegger                                 1
Business & Innovation Enthusiast                       1
Music Composition, Music Producing, Orchestration      1
Name: job_title, Length: 27920, dtype: int64

In [81]:
df.describe()

count          32155
unique         27920
top       Instructor
freq             265
Name: job_title, dtype: object

In [82]:
df.sort_values(ascending=True)

title
Healthcare Career Development Academy
Andre Farnell                             Award-Winning Fitness Expert, Entrepreneur, A...
Grzegorz Wisniewski                                Coach, Trainer, Manager, Executive MBA,
Greg Haitz                                      Health Expert and Coach, Lead Capture Guru
Dalton Grant Jr                           Story board artist and Producer at Red Giant ...
                                                               ...
Gustavo G                                                                              NaN
Gemma Louise Marinus                                                                   NaN
StrumSchool Shapiro                                                                    NaN
Luis Portal                                                                            NaN
Rafael Santiago Araujo de Lima                                                         NaN
Name: job_title, Length: 32233, dtype: object

In [83]:
df.loc['Colt Steele']

'Developer and Bootcamp Instructor'

In [84]:
df.iloc[2]

'Developer and Bootcamp Instructor'

In [85]:
df.loc['Colt Steele'] = 'Udemy Instructor'

In [86]:
df.loc['Colt Steele']

'Udemy Instructor'

In [87]:
index_label = df[df == 'Udemy Instructor'].index
print(index_label)

Index(['Colt Steele', 'Sana Maqsood', 'Alina M', 'Ross Zeiger'], dtype='object', name='title')

In [88]:
value = df.get('Colt Steele')
print(value)

Udemy Instructor

In [89]:
def add_udemy_instructor(text):
    return text + " Udemy Instructor"

df = df.apply(add_udemy_instructor)

df.head()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [91]:
def add_udemy_instructor(text):
    return str(text) + " Udemy Instructor"

df = df.apply(add_udemy_instructor)

df.tail(10)

title
夢YASU 音楽大学校                                    ピアノ・ギター Udemy Instructor Udemy Instructor
Оксана Ференчук                        Музыкант, педагог и основатель онлайн-школы го...
Enrique Pastor -Guitarra con garra-    Titulado superior de guitarra clásica Udemy In...
Ali Atkaya                             Ukulele Repertuvar Udemy Instructor Udemy Inst...
Avishai mor                            מוסיקאי יוצר ומורה למוסיקה Udemy Instructor Ud...
Marc-Nesly Delmot                      singer songwriter Udemy Instructor Udemy Instr...
Gabriel Budemberg                      Instrutor de Produção Musical Udemy Instructor...
Rafael Dos Santos Buffon                      Pedagogo Udemy Instructor Udemy Instructor
Adrin Wendt                            Pianist/ Online- und Offline-Klavierlehrer Ude...
Viktor Kaminskiy                       Music Composition, Music Producing, Orchestrat...
Name: job_title, dtype: object

In [95]:
df.sort_values(ascending=True)

title
Healthcare Career Development Academy                    Udemy Instructor Udemy Instructor
Andre Farnell                             Award-Winning Fitness Expert, Entrepreneur, A...
Grzegorz Wisniewski                       Coach, Trainer, Manager, Executive MBA, Udemy...
Greg Haitz                                Health Expert and Coach, Lead Capture Guru Ud...
Dalton Grant Jr                           Story board artist and Producer at Red Giant ...
                                                               ...
더나은삶TV Betterlife                               회계사, 유튜버 Udemy Instructor Udemy Instructor
3DRI 金子                                  ３Dソリューションコンサルタント Udemy Instructor Udemy Instru...
藤田 泰仁                                           ３つの健康専門家 Udemy Instructor Udemy Instructor
洋二 奥川                                    Ｏ脚改善、姿勢改善、不定愁訴の改善、体幹トレーニング、身体操作 Udemy Instruct...
浅井 良一                                    ＸＢＡＳＥ・ＶＢＡ・システム開発・初心者向けＩＴ教育・新しい分野を見つけること Udemy ...
Name: job_title, Length: 32233, dtype: object