### Pandas playlist:  https://www.youtube.com/playlist?list=PLFAYD0dt5xCxdKfIR3ZX3k07qrqEjUZSO

#### What does pandas do?
* Read data from variety of sources
* Process, visualize and Wrangle
* Excel for python
##### Wes McKinney and Team, originally started in the year 2008 at AQR Capital

##### Why Pandas ? 
* Compatibility
* Documentation
* Easily Find Solutions
* Plotting
* Optimized for performance

# 2. DataFrame
It is customary to import > Numpy as > np and > Pandas as > pd.

In [10]:
#Import Convention
import numpy as np
import pandas as pd

In [18]:
np.random.seed(100)
np.random.randint(0, 100, (5, 3))

array([[ 8, 24, 67],
       [87, 79, 48],
       [10, 94, 52],
       [98, 53, 66],
       [98, 14, 34]])

In [21]:
# Create Numpy Array or List
np.random.seed(100)
arr = np.random.randint(0, 100, (5,3) )  # 5,3 row, column
arr

array([[ 8, 24, 67],
       [87, 79, 48],
       [10, 94, 52],
       [98, 53, 66],
       [98, 14, 34]])

In [22]:
df = pd.DataFrame(arr)
df

    0   1   2
0   8  24  67
1  87  79  48
2  10  94  52
3  98  53  66
4  98  14  34

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
rownames = ['Mon','Tue','Wed','Thu','Fri']
columnnames = ['Jan','Feb','Mar']

df = pd.DataFrame(arr, index=rownames, columns = columnnames)
df

     Jan  Feb  Mar
Mon    8   24   67
Tue   87   79   48
Wed   10   94   52
Thu   98   53   66
Fri   98   14   34

In [25]:
df

     Jan  Feb  Mar
Mon    8   24   67
Tue   87   79   48
Wed   10   94   52
Thu   98   53   66
Fri   98   14   34

#### How to create a DataFrame from a Dictionary?

In [29]:

mydict = {
    'Jan':[1, 2, 3, 4, 5],
    'Feb':[10, 20, 30, 40, 50],
    'Mar':[15, 25, 35, 45, 55],
}

#Dataframe from dict
df = pd.DataFrame(mydict, index=['Mon','Tue','Wed','Thu','Fri'])
df

     Jan  Feb  Mar
Mon    1   10   15
Tue    2   20   25
Wed    3   30   35
Thu    4   40   45
Fri    5   50   55

In [30]:
mydict = {
    'Jan' :[1, 2, 3, 4, 5],
    'Feb' :[10, 20, 30, 40, 50],
    'Mar' :[15, 25, 35, 45, 55]
}

df = pd.DataFrame(mydict,
                index=['Mon','Tue','Wed','Thu','Fri'],
                columns = ['Mar','Jan','Feb'])

df

     Mar  Jan  Feb
Mon   15    1   10
Tue   25    2   20
Wed   35    3   30
Thu   45    4   40
Fri   55    5   50

#### Reading data from files

In [32]:
# df = pd.read_csv('filepath.csv')
# df.head() => top 5 rows
# df.tail() => last 5 rows
# df.shape => tuple (rows, columns)
# df.values() => returns the values in numpy array
# df = pd.read_csv('filename.txt', sep=', ') # seperator like delimitor
# df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/ToothGrowth.csv') # loading csv from url.

In [33]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/ToothGrowth.csv')

In [34]:
df.head()

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

In [35]:
df = pd.read_clipboard(sep='\t')  #copied content imported from the memory and seperator to delimit the text.
df.head()

Empty DataFrame
Columns: [df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/ToothGrowth.csv')]
Index: []